/* Variabili Globali */
:root {
    /* Stili Font */
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    --extrabold: 800;
    /* Colori */
    --navbarBg: rgba(255, 255, 255, 0.75);
    --btnShadow: rgba(196, 93, 162, 0.75);
    --bgColor1: #eebfbb;
    --bgColor2: #f5eaeb;
    --bgColor3: #eaccee;
    --accent: #c45da2;
    --accent2: #826580;
    --textMain: #453048;
}

/* Base */
* {
    font-family: "Literata", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/* Regole globali */
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

span {
    color: var(--accent);
}

body {
    background: var(--bgColor1);
    background: linear-gradient(90deg, var(--bgColor1) 0%, var(--bgColor2) 50%, var(--bgColor3) 100%);
}

/* Buttons */
.btn-primary {
    background-color: var(--accent);
    color: white;
    font-weight: var(--semibold);
    font-size: 1rem;
    padding: 15px 25px;
    border: none;
    margin-right: 1rem;
    border-radius: 30px;
}

.btn-secondary {
    color: var(--accent2);
    font-weight: var(--semibold);
    font-size: 1rem;
    padding: 13px 25px;
    border: 2px solid var(--accent2);
    border-radius: 30px;
}

.btn-primary:hover,
.header-btn:hover {
    box-shadow: 1px 1px 15px var(--btnShadow);
}

.btn-secondary:hover {
    background-color: var(--accent2);
    color: white;
}

/* Header */
header {
    position: sticky;
    top: 10px;
    z-index: 2;
    height: 5rem;
    margin: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100%;
    border-radius: 10px;
    background-color: var(--navbarBg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.header-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    margin-left: 3rem;
}

.header-logo {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.header-label {
    color: var(--textMain);
    font-weight: var(--bold);
    font-size: 1.5rem;
    margin-left: .5rem;
    margin-top: .5rem;
}

.header-pages a {
    color: var(--textMain);
    font-weight: var(--semibold);
    font-size: 1rem;
    margin: 10px;
    transition: .1s;
    padding: 20px;
}

.header-pages a:hover {
    color: var(--accent);
    text-decoration: underline !important;
}

.header-btn {
    background-color: var(--accent);
    color: white;
    font-weight: var(--semibold);
    font-size: .9rem;
    padding: 15px 25px;
    border: none;
    border-radius: 30px;
}

/* Hamburger Menu */
.hamburger-container {
    display: none;
}

.hamburger-menu {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
    margin-right: 10px;
}

.hamburger-lines {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.line {
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background: var(--textMain);
    transition: .5s ease-in-out;
}

.first {
    transform-origin: 0 0;
}

.third {
    transform-origin: 0 100%;
}

.first.a {
    transform: rotate(46.5deg) translate(0, -2px);
    width: 28px;
}

.second.b {
    opacity: 0;
    transform: scale(0);
}

.third.c {
    transform: rotate(-45deg) translate(0.5px, 1.5px);
    width: 28px;
}

/* Landing */
.landing-container {
    padding: 8% 0;
    text-align: center;
}

.landing-title {
    font-size: 4.5rem;
    font-weight: var(--extrabold);
    line-height: 1.1;
    color: var(--textMain);
}

.landing-subtitle {
    font-size: 1.25rem;
    font-weight: var(--light);
    line-height: 1.5;
    margin: 2rem;
    color: --var(--accent2);
    margin-bottom: 3rem;
}

/* Cards */
.card-group {
    padding: 5rem 15%;
}

.card {
    margin: 0 1rem;
    height: auto;
    padding: 1.5rem;
    border-radius: 10px !important;
    background-color: var(--navbarBg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 100%;
    height: 100px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.card-title {
    font-size: 1.3rem;
    font-weight: var(--bold);
    margin-bottom: 1.5rem;
}

.card-text {
    font-size: 1rem;
    opacity: .75;
}

/* Banner */
.banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container {
    width: 800px;
    height: 500px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    border-radius: 20px;
    margin: 1rem;
    border: 3px solid white;
}

.faq-section {
    margin-top: 4rem;
}

.title-container {
    margin: auto;
    width: fit-content;
    border-radius: 100px;
    background-color: var(--navbarBg);
    border: 2px solid var(--accent);
    padding: 10px 25px;
}

.section-title {
    text-align: center;
    color: var(--accent);
    font-size: 2rem;
}

/* Accordion */
.accordion {
    margin: 3rem 15%;
    border-radius: 10px;
}

.accordion-item {
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--navbarBg);
}

.accordion-header {
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: var(--accent2);
    color: white;
    padding: 20px 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    margin-right: 20px;
    width: 150px;
}

.footer-logo .logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.brand-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.footer-index {
    margin-top: 1rem;
    text-align: center;
    flex: 1;
    max-width: 400px;
}

.footer-index h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.index-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.index-list li {
    margin: 5px 0;
}

.index-list a {
    color: white;
    font-weight: var(--light);
}

.index-list a:hover {
    color: var(--bgColor3);
    text-decoration: underline !important;
}

.footer-social {
    width: 150px;
    margin-top: 1rem;
}

.footer-social h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.social-icons {
    margin-top: 1rem;   
    display: flex;
    gap: 15px;
}

.footer-social .social-icon i {
    font-size: 24px;
    color: white;
    transition: color 0.3s;
}

.footer-social .social-icon:hover i {
    color: var(--bgColor3);
}

hr .solid {
    margin-top: 2rem;
    border-top: 2px solid #ccc;
}

.footer-copyright {
    text-align: center;
    font-size: 0.9rem;
    padding-top: 15px;
    color: #ccc;
}

/* Media queries */
@media(max-width: 1200px) {
    .header-container {
        margin-left: 5px;
    }
    
    .header-label {
        font-size: 1.25rem;
    }
    
    .header-pages a {
        font-size: .9rem;
        padding: 10px;
        margin-left: 5px;
    }

    .header-btn {
        font-size: .8rem;
    }

    .landing-container {
        padding: 20% 20px;
    }

    .landing-title {
        font-size: 3.5rem;
    }

    .landing-subtitle {
        font-size: 1rem;
    }

    .banner-container {
        width: 600px;
        height: 400px;
    }

    .card-group {
        padding: 5rem 1%;
    }

    .card {
        margin: 0 1rem;
        padding: 1rem;
    }

    .card-img-top {
        height: 75px;
    }
    
    .card-title {
        font-size: 1rem;
    }
    
    .card-text {
        font-size: .8rem;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    
    .footer-index {
        margin-top: 20px;
    }

    .footer-social {
        margin-top: 50px;
    }
    
}

@media(max-width: 900px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    header {
        grid-template-columns: 4fr 0.5fr;
        position: fixed;
        width: calc(100% - 20px);
        top: 0;
    }

    .btn-primary {
        font-size: .8rem;
        margin-right: .5rem;
    }

    .btn-secondary {
        font-size: .8rem;
    }

    .header-container {
        position: absolute;
        width: 100%;
        height: fit-content;
        margin: 0 auto;
        padding: 5px 0 30px 0;
        box-sizing: border-box;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        z-index: 3;
        transition: .5s;
        transform: translate(0, -500px);
        border-radius: 10px;
        margin-top: 1rem;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .header-container.show {
        transform: translate(0, 19%);
    }

    .header-brand {
        justify-content: flex-start;
        padding-left: 20px;
    }

    .header-pages,
    .header-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .hamburger-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .landing-container {
        padding: 30% 20px;
    }

    .landing-title {
        font-size: 2.2rem;
    }

    .landing-subtitle {
        font-size: .9rem;
    }

    .card-group {
        padding: 5rem 1%;
    }

    .card-title {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .card-text {
        font-size: .8rem;
    }

    .card {
        margin: 0 .75rem;
        padding: 1rem;
    }

    .card-img-top {
        height: 75px;
    }

    .banner-container {
        width: 400px;
        height: 300px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .footer-logo {
        margin-bottom: 20px;
    }
    
    .index-list {
        grid-template-columns: 1fr;
    }

    .social-icons {
        justify-content: center;
    }
    
    .footer-social {
        margin-top: 50px;
    }

}